body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.h1{
    height:30px;background-color:blue;
}
.wrapper{
    height:100px;
}
.ul{
    color:red;
}
.ul.li{
    width:120px;
    display:inline-block;
}